<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <title>Hello, world!</title>
    <style>
      .bdr{
          height: 130 px;
          background-color: silver;
          width: 60%;
          margin: 0px auto;
          text-align: center;
      }
  </style>
  </head>
  <body>
    <div class="container bdr" >
    <img src="https://static.inshorts.com/inshorts/images/v1/variants/jpg/m/2020/04_apr/21_tue/img_1587436824769_831.jpg?" class="rounded float-left" style="width: 300px;height: 300px;float: left;">
    <h1>Hello, world!</h1>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>
</html>